.float_right {
    float: right;
}

.underline {
    text-decoration: underline;
}

.margin_top_10px {
    margin-top: 10%;
}

.position_center {
    margin-left: 300%;
    display: block;
}

.error {
    border: 1px solid red;
}



.fran{
    float: left;
}

